* {
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 9000px;
}

header{
    width: 100%;
    height: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(40, 103, 155);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.header{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.menu{
    width: 100%;
    height: 100%;
    margin-left: 15px;
    margin-right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.O_Nas{
    width: 150px;
    height: 98%;
    font-size: 23px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    padding: 0 16px;
    text-align: center;
    font-weight: inherit;
    color: #fff;
    cursor: pointer;
}

.Katalog{
    width: 150px;
    height: 98%;
    font-size: 23px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    padding: 0 16px;
    text-align: center;
    font-weight: inherit;
    color: #fff;
    cursor: pointer;
}

.Tovar{
    width: 150px;
    height: 98%;
    font-size: 23px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    font-weight: inherit;
    color: #fff;
    cursor: pointer;
}

.Gde_Nas_Naiti{
    width: 180px;
    height: 98%;
    font-size: 23px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    padding: 0 16px;
    text-align: center;
    font-weight: inherit;
    color: #fff;
    cursor: pointer;
}

.singinup{
    display: flex;
    flex-direction: column;
    margin-top: -10px;
}

.singinup > button{
    margin-top: 10px;
    margin-right: -150px;
    font-size: 17px;
    width: 110px;
}

.novinki{
    height: 500px;
    width: 100%;
    background-color: rgb(34, 85, 126);
}